{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="breadcrumb-wrapper content_above">
        <div class="container" style="margin-top: 110px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="page-title">پروفایل {{ profile.name }}</h1>
                </div>
            </div>
        </div>
    </div><!-- ends: .breadcrumb-wrapper -->

    </section>

    <section class="author-info-area section-padding-strict section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="atbd_auhor_profile_area">
                        <div class="atbd_author_avatar">
                            <img src="{{ profile.pic.url }}" alt="{{ profile.user }}" style="height: 80px;width: 80px;">
                            <div class="atbd_auth_nd">
                                <h2>{{ profile.name }} {{ profile.family }}</h2>
                            </div>
                        </div><!-- ends: .atbd_author_avatar -->

                        <div class="atbd_author_meta">
                            <div class="atbd_listing_meta">
                                <span class="atbd_meta atbd_listing_rating">4.5 <i class="la la-star"></i></span>
                                <p class="meta-info"><span>22</span>بررسی</p>
                            </div>
                            <p class="meta-info"><span>15</span>آگهی</p>
                        </div><!-- ends: .atbd_author_meta -->
                    </div><!-- ends: .atbd_auhor_profile_area -->
                </div><!-- ends: .col-lg-12 -->

                <div class="col-lg-8 col-md-7 m-bottom-30">
                    <div class="atbd_author_module">
                        <div class="atbd_content_module">
                            <div class="atbd_content_module__tittle_area">
                                <div class="atbd_area_title">
                                    <h4><span class="la la-user"></span>درباره فروشنده</h4>
                                </div>
                            </div>
                            <div class="atbdb_content_module_contents">
                                <p>{{ profile.bio }}</p>
                            </div>
                        </div>
                    </div><!-- ends: .atbd_author_module -->
                </div><!-- ends: .col-md-8 -->

                <div class="col-lg-4 col-md-5 m-bottom-30">
                    <div class="widget atbd_widget widget-card">
                        <div class="atbd_widget_title">
                            <h4><span class="la la-phone"></span>اطلاعات تماس</h4>
                        </div><!-- ends: .atbd_widget_title -->
                        <div class="widget-body atbd_author_info_widget">


                            <div class="atbd_widget_contact_info">
                                <ul>
                                    <li>
                                        <span class="la la-map-marker"></span>
                                        <span class="atbd_info">{{ profile.address }}</span>
                                    </li>
                                    <li>
                                        <span class="la la-phone"></span>
                                        <span class="atbd_info">{{ profile.phone }}</span>
                                    </li>
                                    <li>
                                        <span class="la la-envelope"></span>
                                        <span class="atbd_info">{{ profile.email }}</span>
                                    </li>
                                    <li>
                                        <span class="la la-globe"></span>
                                        <a href="#" class="atbd_info">{{ profile.website }}</a>
                                    </li>
                                </ul>
                            </div><!-- ends: .atbd_widget_contact_info -->
                        </div><!-- ends: .widget-body -->
                    </div><!-- ends: .widget -->
                </div><!-- ends: .col-lg-4 -->

                <div class="col-lg-12">
                    <div class="atbd_author_listings_area m-bottom-30">
                        <h1>آگهی های نویسنده</h1>
                    </div><!-- ends: .atbd_author_listings_area -->

                    <div class="row">
                        <div class="col-lg-4 col-sm-6">


                            <div class="atbd_single_listing ">
                                <article class="atbd_single_listing_wrapper">
                                    <figure class="atbd_listing_thumbnail_area">
                                        <div class="atbd_listing_image">
                                            <a href="#">
                                                <img src="img/p1.jpg" alt="listing image">
                                            </a>
                                        </div><!-- ends: .atbd_listing_image -->
                                        <div class="atbd_author atbd_author--thumb">
                                            <a href="#">
                                                <img src="img/author-thumb2.jpg" alt="Author Image">
                                                <span class="custom-tooltip">آرش، مالک</span>
                                            </a>
                                        </div>
                                        <div class="atbd_thumbnail_overlay_content">
                                            <ul class="atbd_upper_badge">
                                                <li><span class="atbd_badge atbd_badge_featured">ویژه</span></li>
                                            </ul><!-- ends .atbd_upper_badge -->
                                        </div><!-- ends: .atbd_thumbnail_overlay_content -->
                                    </figure><!-- ends: .atbd_listing_thumbnail_area -->

                                    <div class="atbd_listing_info">
                                        <div class="atbd_content_upper">
                                            <h4 class="atbd_listing_title">
                                                <a href="#">سیستم های گرما و هوای فلندرز</a>
                                            </h4>

                                            <div class="atbd_listing_meta">
                                                <span class="atbd_meta atbd_listing_rating">4.5<i
                                                        class="la la-star"></i></span>

                                                <span class="atbd_meta atbd_listing_price">5500 تومان</span>
                                                <span class="atbd_meta atbd_badge_open">اکنون باز</span>

                                            </div><!-- End atbd listing meta -->
                                            <div class="atbd_listing_data_list">
                                                <ul>
                                                    <li>
                                                        <p><span class="la la-map-marker"></span>تهران، ایران</p>
                                                    </li>
                                                    <li>
                                                        <p><span class="la la-phone"></span>(415) 796-3633</p>
                                                    </li>
                                                    <li>
                                                        <p><span class="la la-calendar-check-o"></span>ارسال شده 2 ماه
                                                            قبل</p>
                                                    </li>
                                                </ul>
                                            </div><!-- End atbd listing meta -->

                                        </div><!-- end .atbd_content_upper -->

                                        <div class="atbd_listing_bottom_content">
                                            <div class="atbd_content_left">
                                                <div class="atbd_listing_category">
                                                    <a href="#"><span class="la la-glass"></span>رستوران</a>

                                                </div>
                                            </div>
                                            <ul class="atbd_content_right">
                                                <li class="atbd_count"><span class="la la-eye"></span>900+</li>
                                                <li class="atbd_save">
                                                    <span class="la la-heart-o"></span>
                                                </li>

                                            </ul>
                                        </div><!-- end .atbd_listing_bottom_content -->
                                    </div><!-- ends: .atbd_listing_info -->
                                </article><!-- atbd_single_listing_wrapper -->
                            </div>

                        </div><!-- ends: .col-lg-4 -->
                    </div>
                </div><!-- ends: .col-lg-12 -->
            </div>
        </div>
    </section><!-- ends: .author-info-area -->

{% endblock %}
