{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="listing-info content_above">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <ul class="list-unstyled listing-info--badges">
                        <li><span class="atbd_badge atbd_badge_featured">ویژه</span></li>
                        <li><span class="atbd_badge atbd_badge_popular">محبوب</span></li>
                    </ul>
                    <ul class="list-unstyled listing-info--meta">
                        <li>
                                <span class="atbd_meta atbd_listing_average_pricing" data-toggle="tooltip"
                                      data-placement="top" title="" data-original-title="میانگین">
                                    <span class="atbd_active">{{ advertise.price }} تومان</span>
                                </span>
                        </li>
                        <li>
                            <div class="average-ratings">
                                <span class="atbd_meta atbd_listing_rating">4.5<i class="la la-star"></i></span>
                                <span><strong>26</strong> بررسی</span>
                            </div>
                        </li>
                        <li>
                            <div class="atbd_listing_category">
                                <a href="#"><span class="la la-glass"></span>{{ advertise.category }}</a>
                            </div>
                        </li>
                    </ul><!-- ends: .listing-info-meta -->

                    <h1>{{ advertise.title }}</h1>
                </div>
                <div class="col-lg-4 col-md-5 d-flex align-items-end justify-content-start justify-content-md-end">
                    <div class="atbd_listing_action_area">
                        <div class="atbd_action atbd_save">
                            <div class="action_button">
                                <a href="#" class="atbdp-favourites"><span class="la la-heart-o"></span> ذخیره</a>
                            </div>
                        </div>
                        <div class="atbd_action atbd_share dropdown">
                                <span class="dropdown-toggle" id="social-links" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false" role="menu">
                                    <span class="la la-share"></span>اشتراک
                                </span>
                            <div class="atbd_director_social_wrap dropdown-menu" aria-labelledby="social-links">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" target="_blank"><span
                                                class="fab fa-facebook-f color-facebook"></span>فیسبوک</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><span class="fab fa-twitter color-twitter"></span>توییتر</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><span
                                                class="fab fa-pinterest-p color-pinterest"></span>پینترست</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><span
                                                class="fab fa-google-plus-g color-gplus"></span>گوگل پلاس</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><span
                                                class="fab fa-linkedin-in color-linkedin"></span>لینکداین</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><span class="fab fa-tumblr color-tumblr"></span>تامبلر</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><span class="fab fa-vk color-vk"></span>وی
                                            کنتاکت</a>
                                    </li>
                                </ul>
                            </div> <!--Ends social share-->
                        </div>
                        <!-- Report Abuse-->
                        <div class="atbd_action atbd_report">
                            <div class="action_button">
                                <a href="#" data-toggle="modal" data-target="#atbdp-report-abuse-modal"><span
                                        class="la la-flag-o"></span> گزارش</a>
                            </div>
                            <!-- Modal (report abuse form) -->
                        </div>
                    </div><!-- ends: .atbd_listing_action_area -->
                </div>
            </div>
        </div>


        <div class="modal fade" id="atbdp-report-abuse-modal" tabindex="-1" role="dialog" aria-hidden="true"
             aria-labelledby="atbdp-report-abuse-modal-label">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="http://aazztech.com/" id="atbdp-report-abuse-form" class="form-vertical">
                        <div class="modal-header">
                            <h3 class="modal-title" id="atbdp-report-abuse-modal-label">گزارش سوءاستفاده</h3>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="atbdp-report-abuse-message" class="not_empty">شکایت شما<span
                                        class="atbdp-star">*</span></label>
                                <textarea class="form-control" id="atbdp-report-abuse-message" rows="4"
                                          placeholder="پیام..." required=""></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">بستن</button>
                            <button type="submit" class="btn btn-secondary btn-sm">تایید</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="moda_claim_listing" tabindex="-1" role="dialog"
             aria-labelledby="claim_listing_label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="claim_listing_label"><i class="la la-check-square"></i> درخواست این
                            آگهی</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="http://aazztech.com/">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="نام شما" class="form-control" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="آدرس ایمیل" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="شماره تلفن" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="url" class="form-control" placeholder="آدرس آگهی" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea class="form-control" rows="6" placeholder="Provie Listing Information"
                                                  required></textarea>
                                        <button type="submit" class="btn btn-secondary">ارسال پرس و جو</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- ends: .listing-info -->

    </section><!-- ends: .card-details-wrapper -->

    <section class="directory_listiing_detail_area single_area section-bg section-padding-strict">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="atbd_content_module atbd_listing_details">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-file-text-o"></span>جزئیات آگهی</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <p>{{ advertise.content }}</p>
                        </div>
                    </div><!-- ends: .atbd_content_module -->


                    <div class="atbd_content_module atbd_listing_gallery">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-image"></span>گالری</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <div class="gallery-wrapper">
                                <div class="gallery-images">
                                    <div class="single-image">
                                        <img src="{{ advertise.pic.url }}" alt="">
                                    </div>
                                    {% for img in image_gallery %}
                                        <div class="single-image">
                                            <img src="{{ img.url }}" alt="">
                                        </div>
                                    {% endfor %}
                                </div><!-- ends: .gallery-images -->
                                <div class="gallery-thumbs">
                                    <div class="single-thumb">
                                        <img src="{% static 'img/gt1.jpg' %}" alt="">
                                    </div>
                                </div><!-- ends: .gallery-thumbs -->
                            </div><!-- ends: .gallery-wrapper -->
                        </div>
                    </div><!-- ends: .atbd_content_module -->


                    <div class="atbd_content_module atbd_listing_features">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-list-alt"></span>ویژگی ها</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <ul class="atbd_custom_fields features-table">
                                <!--  get data from custom field-->
                                <li>
                                    <div class="atbd_custom_field_title">
                                        <p>واحد رایت: </p>
                                    </div>
                                    <div class="atbd_custom_field_content">
                                        <p>لورم ایپسوم متن ساختگی</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="atbd_custom_field_title">
                                        <p>انتخاب گزینه سفارشی:</p></div>
                                    <div class="atbd_custom_field_content">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="atbd_custom_field_title">
                                        <p>ناحیه ی متن سفارشی:</p></div>
                                    <div class="atbd_custom_field_content">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- ends: .atbd_content_module -->


                    <div class="atbd_content_module atbd_custom_fields_contents">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-youtube-play"></span>ویدئو</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <div class="video-wrapper">
                                <video height="398" width="668" controls>
                                    <source src="{{ advertise.video.url }}">
                                </video>
                            </div>
                        </div>
                    </div><!-- ends: .atbd_content_module -->


                    <div class="atbd_content_module">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-map-o"></span>مکان</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <div class="map" id="map-one"></div>
                        </div>
                    </div><!-- ends: .atbd_content_module -->


                    <div class="atbd_content_module atbd_contact_information_module">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-headphones"></span>اطلاعات تماس</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <div class="atbd_contact_info">
                                <ul>
                                    <li>
                                        <div class="atbd_info_title"><span class="la la-map-marker"></span>آدرس:</div>
                                        <div class="atbd_info">{{ advertise.address }}</div>
                                    </li>
                                    <li>
                                        <div class="atbd_info_title"><span class="la la-phone"></span>شماره تلفن:</div>
                                        <div class="atbd_info">{{ advertise.phone }}</div>
                                    </li>
                                    <li>
                                        <div class="atbd_info_title"><span class="la la-envelope"></span>ایمیل:</div>
                                        <span class="atbd_info">{{ advertise.email }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- ends: .atbd_content_module -->


                    <div class="atbd_content_module atbd_faqs_module">
                        <div class="atbd_content_module__tittle_area">
                            <div class="atbd_area_title">
                                <h4><span class="la la-question-circle"></span>لیست سوالات متداول</h4>
                            </div>
                        </div>
                        <div class="atbdb_content_module_contents">
                            <div class="atbdp-accordion">
                                <div class="accordion-single selected">
                                    <h3 class="faq-title"><a href="#">سوال شماره اول</a></h3>
                                    <p class="ac-body" style="display: block;">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                        روزنامه و مجله</p>
                                </div>
                                <div class="accordion-single">
                                    <h3 class="faq-title"><a href="#">سوال شماره دو و بقیه</a></h3>
                                    <p class="ac-body" style="display: none;">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                        روزنامه و مجله.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- ends: .atbd_content_module -->

                    {% if advertise.is_active_comment %}
                        <div class="atbd_content_module atbd_review_module">
                            <div class="atbd_content_module__tittle_area">
                                <div class="atbd_area_title">
                                    <h4><span class="la la-star-o"></span>نظرات</h4>
                                    <label for="review_content"
                                           class="btn btn-secondary btn-icon-left btn-sm not_empty"><span
                                            class="la la-star-o"></span> افزودن یک نظر</label>
                                </div>
                            </div>
                            {% for comment in comments %}
                                <div class="atbdb_content_module_contents">
                                    <div id="client_review_list">
                                        <div class="atbd_single_review atbdp_static">
                                            <div class="atbd_review_top">
                                                <div class="atbd_avatar_wrapper">
                                                    <div class="atbd_review_avatar"><img alt=""
                                                                                         src="{% static 'img/review-author-thumb3.jpg' %}"
                                                                                         class="avatar avatar-32 photo">
                                                    </div>
                                                    <div class="atbd_name_time">
                                                        <p>{{ comment.user }}</p>
                                                        <span class="review_time">{{ comment.date_created|date:"Y-m-d" }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review_content">
                                                <p>{{ comment.comment }}</p>
                                            </div>
                                        </div><!-- ends: .atbd_single_review -->
                                    </div><!-- ends: .client_review_list -->
                                </div>
                            {% endfor %}
                        </div><!-- ends: .atbd_content_module -->


                        <div class="atbd_content_module atbd_review_form">
                            <div class="atbd_content_module__tittle_area">
                                <div class="atbd_area_title">
                                    <h4><span class="la la-star"></span>افزودن یک بررسی</h4>
                                </div>
                            </div>

                            <div class="atbdb_content_module_contents atbd_give_review_area">
                                <div class="atbd_notice alert alert-info" role="alert">
                                    <span class="la la-info" aria-hidden="true"></span>
                                    شما باید وارد <a href="#">شوید</a> یا <a href="#">ثبت نام کنید</a> برای ارسال یک
                                    بررسی
                                </div><!-- ends: .atbd_notice -->

                                <form action="." id="atbdp_review_form" method="post">
                                    <div class="form-group">
                                        {{ comment_form }}
                                        {% csrf_token %}
                                        <textarea name="content" id="review_content" class="form-control"
                                                  placeholder="پیام"
                                                  required></textarea>
                                    </div>
                                    <!--If current user has a review then show him update and delete button-->
                                    <button class="btn btn-gradient btn-gradient-one" type="submit"
                                            id="atbdp_review_form_submit">ارسال بررسی
                                    </button> <!-- submit button -->
                                </form>


                            </div><!-- ends: .atbd_give_review_area -->

                        </div><!-- ends: .atbd_content_module -->
                    {% endif %}
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">


                    <div class="widget atbd_widget widget-card">
                        <div class="atbd_widget_title">
                            <h4><span class="la la-user"></span>اطلاعات فروشنده</h4>
                        </div><!-- ends: .atbd_widget_title -->
                        <div class="widget-body atbd_author_info_widget">
                            <div class="atbd_avatar_wrapper">
                                <div class="atbd_review_avatar">
                                    <img src="img/avatar-60x60.jpg" alt="Avatar Image">
                                </div>
                                <div class="atbd_name_time">
                                    <h4>املاک و مستغلات زفایر <span class="verified" data-toggle="tooltip"
                                                                    data-placement="top" title="Verified"></span></h4>
                                    <span class="review_time">ارسال شده 6 روز قبل</span>
                                </div>
                            </div><!-- ends: .atbd_avatar_wrapper -->


                            <div class="atbd_widget_contact_info">
                                <ul>
                                    <li>
                                        <span class="la la-map-marker"></span>
                                        <span class="atbd_info">25 شرق خیابان مولوی، تهران</span>
                                    </li>
                                    <li>
                                        <span class="la la-phone"></span>
                                        <span class="atbd_info">(213) 995-7799</span>
                                    </li>
                                    <li>
                                        <span class="la la-envelope"></span>
                                        <span class="atbd_info">support@aazztech.com</span>
                                    </li>
                                    <li>
                                        <span class="la la-globe"></span>
                                        <a href="#" class="atbd_info">www.rtl-theme.com</a>
                                    </li>
                                </ul>
                            </div><!-- ends: .atbd_widget_contact_info -->


                            <div class="atbd_social_wrap">
                                <p><a href="#"><span class="fab fa-facebook-f"></span></a></p>
                                <p><a href="#"><span class="fab fa-twitter"></span></a></p>
                                <p><a href="#"><span class="fab fa-google-plus-g"></span></a></p>
                                <p><a href="#"><span class="fab fa-linkedin-in"></span></a></p>
                                <p><a href="#"><span class="fab fa-dribbble"></span></a></p>
                            </div><!-- ends: .atbd_social_wrap -->

                            <a href="#" class="btn btn-outline-primary btn-block">نمایش مشخصات</a>
                        </div><!-- ends: .widget-body -->
                    </div><!-- ends: .widget -->


                    <div class="widget atbd_widget widget-card">
                        <div class="atbd_widget_title">
                            <h4><span class="la la-bookmark"></span> دسته با آیکون</h4>
                        </div><!-- ends: /.atbd_widget_title -->
                        <div class="widget-body atbdp-widget-categories">
                            <ul class="atbdp_parent_category">
                                {% for cat in category %}
                                    <li>
                                        <a href="{{ cat.get_absolute_url }}"><span
                                                class="{{ cat.icon }}"></span>{{ cat.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- ends: .atbdp -->
                    </div><!-- ends: .widget -->


                    <div class="widget atbd_widget widget-card">
                        <div class="atbd_widget_title">
                            <h4><span class="la la-tags"></span> استایل برچسب</h4>
                        </div>
                        <div class="widget-body atbdp-widget-tags">
                            <ul class="list-unstyled">
                                <li><a href="#">نیو یورک</a></li>
                                <li><a href="#">پارکینگ خودرو</a></li>
                                <li><a href="#">غذا</a></li>
                                <li><a href="#">مسافرت</a></li>
                                <li><a href="#">خانه</a></li>
                                <li><a href="#">رستوران</a></li>
                                <li><a href="#">مکان</a></li>
                                <li><a href="#">اداره</a></li>
                                <li><a href="#">پارکینگ دوچرخه</a></li>
                            </ul>
                        </div><!-- ends: .widget-body -->
                    </div><!-- ends: .widget -->




                    <div class="widget atbd_widget widget-card">
                        <div class="atbd_widget_title">
                            <h4><span class="la la-list-alt"></span> آخرین آگهی ها</h4>
                        </div><!-- ends: .atbd_widget_title -->
                        <div class="atbd_categorized_listings atbd_popular_listings">
                            {% for ad in advertise_list|slice:"0:3" %}
                                <ul class="listings">
                                    <li>
                                        <div class="atbd_left_img">
                                            <a href="{{ad.get_absolute_url}}"><img src="{{ ad.pic.url }}" alt="listing image" style="width: 70px;height: 70px;"></a>
                                        </div>
                                        <div class="atbd_right_content">
                                            <div class="cate_title">
                                                <h4><a href="{{ad.get_absolute_url}}"> {{ ad.title }}</a></h4>
                                            </div>
                                            <p class="directory_tag">
                                                <span class="la la-glass" aria-hidden="true"></span>
                                                <span><a href="#">رستوران</a></span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div> <!-- ends .atbd_similar_listings -->
                    </div><!-- ends: .widget -->

                </div>
            </div>
        </div>
    </section><!-- ends: .directory_listiing_detail_area -->

{% endblock %}