{% load static %}
<footer class="footer-three footer-grey p-top-95">
    <div class="footer-top p-bottom-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6">

                    <div class="widget widget_pages">
                        <h2 class="widget-title">اطلاعات شرکت</h2>
                        <ul class="list-unstyled">

                            <li class="page-item"><a href="#">درباره ما</a></li>


                            <li class="page-item"><a href="#">تماس با ما</a></li>


                            <li class="page-item"><a href="#">آگهی های ما</a></li>


                            <li class="page-item"><a href="#">قیمت گذاری ما</a></li>


                            <li class="page-item"><a href="#">پشتیبانی</a></li>


                            <li class="page-item"><a href="#">حریم خصوصی</a></li>

                        </ul>
                    </div>

                </div><!-- ends: .col-lg-3 -->
                <div class="col-lg-3 d-flex justify-content-lg-center  col-sm-6">

                    <div class="widget widget_pages">
                        <h2 class="widget-title">لینک های مفید</h2>
                        <ul class="list-unstyled">

                            <li class="page-item"><a href="#">عضویت دیرو</a></li>


                            <li class="page-item"><a href="#">ورود</a></li>


                            <li class="page-item"><a href="#">چطور کار میکند</a></li>


                            <li class="page-item"><a href="#">مزایا</a></li>


                            <li class="page-item"><a href="#">برنامه دیرو</a></li>


                            <li class="page-item"><a href="#">بسته ها</a></li>

                        </ul>
                    </div>

                </div><!-- ends: .col-lg-3 -->
                <div class="col-lg-3 col-sm-6">

                    <div class="widget widget_social">
                        <h2 class="widget-title">تماس با ما</h2>

                        <ul class="list-unstyled social-list">
                            <li><a href="#"><span class="mail"><i class="la la-envelope"></i></span> پشتیبانی تماس</a>
                            </li>
                            <li><a href="#"><span class="twitter"><i class="fab fa-twitter"></i></span> توییتر</a></li>
                            <li><a href="#"><span class="facebook"><i class="fab fa-facebook-f"></i></span> فیسبوک</a>
                            </li>
                            <li><a href="#"><span class="instagram"><i class="fab fa-instagram"></i></span>
                                اینستاگرام</a></li>
                            <li><a href="#"><span class="gplus"><i class="fab fa-google-plus-g"></i></span> گوگل+</a>
                            </li>
                        </ul>

                    </div><!-- ends: .widget -->

                </div><!-- ends: .col-lg-3 -->
                <div class="col-lg-4 col-sm-6">

                    <div class="widget widget_text">
                        <h2 class="widget-title">دیرو روی موبایل</h2>
                        <div class="textwidget">
                            <p>امروز برنامه دیرو را دانلود کنید، و رویدادهای خود را در هر زمان و هر کجا پیدا کنید.</p>
                            <ul class="list-unstyled store-btns">
                                <li><a href="#"
                                       class="btn-gradient btn-gradient-two btn btn-md btn-icon icon-left"><span
                                        class="fab fa-apple"></span> اپ استور</a></li>
                                <li><a href="#" class="btn btn-dark btn-md btn-icon btn-icon"><span
                                        class="fab fa-android"></span> گوگل پلی</a></li>
                            </ul>
                        </div>
                    </div><!-- ends: .widget -->

                </div><!-- ends: .col-lg-3 -->
            </div>
        </div>
    </div><!-- ends: .footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-bottom--content">
                        <a href="#" class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        <p class="m-0 copy-text">©2019 دیرو </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ends: .footer-bottom -->
</footer><!-- ends: .footer -->
</body>

</html>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0C5etf1GVmL_ldVAichWwFFVcDfa1y_c"></script>
<!-- inject:js-->
<script src="{% static 'js/plugins.min.js' %}"></script>
<script src="{% static 'js/script.min.js' %}"></script>
<!-- endinject-->
